@layer base {
  /*
   * base on: https://ui.shadcn.com/docs/theming
   */

  :root {
    /* Default background color of <body />...etc */
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* Background color for <Card /> */
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    /* Default border color */
    --border: 214.3 31.8% 91.4%;

    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 214.3 31.8% 91.4%;

    /* Primary colors for <Button /> */
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    /* Secondary colors for <Button /> */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    /* Used for focus ring */
    --ring: 215 20.2% 65.1%;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;

    /* 遮罩颜色 */
    --overlay: hsl(0 0% 0% / 0.3);

    /* 基本文字大小 */
    --font-size-base: 16px;

    /* 侧边栏 */
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    accent-color: var(--primary);
    color-scheme: light;
  }
}

@layer theme {
  :root {
    /* 晨雾 alias: gray */
    --mist-100: hsl(210 12% 97%);
    --mist-200: hsl(220 8% 93%);
    --mist-300: hsl(216 8% 87%);
    --mist-400: hsl(210 7% 78%);
    --mist-500: hsl(210 8% 69%);
    --mist-600: hsl(212 7% 60%);
    --mist-700: hsl(217 7% 53%);
    --mist-800: hsl(220 6% 48%);
    --mist-900: hsl(224 5% 40%);

    /* 雨夜 */
    --rainynight-100: hsl(189 41% 97%);
    --rainynight-200: hsl(194 42% 94%);
    --rainynight-300: hsl(197 37% 89%);
    --rainynight-400: hsl(200 35% 82%);
    --rainynight-500: hsl(203 35% 74%);
    --rainynight-600: hsl(209 33% 67%);
    --rainynight-700: hsl(213 29% 60%);
    --rainynight-800: hsl(214 22% 51%);
    --rainynight-900: hsl(213 21% 41%);

    /* 树莓 alias: red */
    --raspberry-100: hsl(347 100% 97%);
    --raspberry-200: hsl(347 100% 95%);
    --raspberry-300: hsl(344 100% 90%);
    --raspberry-400: hsl(343 100% 82%);
    --raspberry-500: hsl(342 100% 70%);
    --raspberry-600: hsl(340 94% 60%);
    --raspberry-700: hsl(338 82% 50%);
    --raspberry-800: hsl(336 87% 41%);
    --raspberry-900: hsl(334 84% 35%);

    /* 樱花 alias: pink */
    --sakura-100: hsl(347 100% 97%);
    --sakura-200: hsl(348 100% 93%);
    --sakura-300: hsl(345 96% 90%);
    --sakura-400: hsl(345 96% 82%);
    --sakura-500: hsl(344 95% 71%);
    --sakura-600: hsl(342 89% 60%);
    --sakura-700: hsl(339 77% 50%);
    --sakura-800: hsl(338 83% 41%);
    --sakura-900: hsl(336 80% 35%);

    /* 蓝莓 alias: blue */
    --blueberry-100: hsl(231 76% 97%);
    --blueberry-200: hsl(232 74% 94%);
    --blueberry-300: hsl(232 68% 89%);
    --blueberry-400: hsl(235 66% 82%);
    --blueberry-500: hsl(239 64% 74%);
    --blueberry-600: hsl(244 59% 67%);
    --blueberry-700: hsl(248 53% 58%);
    --blueberry-800: hsl(250 41% 51%);
    --blueberry-900: hsl(249 38% 41%);

    /* 紫罗兰 */
    --violet-100: hsl(233 67% 98%);
    --violet-200: hsl(240 67% 94%);
    --violet-300: hsl(240 71% 92%);
    --violet-400: hsl(241 68% 85%);
    --violet-500: hsl(244 67% 76%);
    --violet-600: hsl(247 65% 66%);
    --violet-700: hsl(251 61% 58%);
    --violet-800: hsl(252 51% 50%);
    --violet-900: hsl(252 51% 42%);

    /* 薄荷 */
    --mint-100: hsl(175 76% 97%);
    --mint-200: hsl(174 85% 89%);
    --mint-300: hsl(174 84% 78%);
    --mint-400: hsl(174 77% 64%);
    --mint-500: hsl(174 66% 50%);
    --mint-600: hsl(173 80% 40%);
    --mint-700: hsl(173 84% 32%);
    --mint-800: hsl(174 77% 26%);
    --mint-900: hsl(174 77% 26%);

    /* 葡萄 */
    --grape-100: hsl(83 52% 95%);
    --grape-200: hsl(85 53% 89%);
    --grape-300: hsl(88 52% 80%);
    --grape-400: hsl(88 50% 69%);
    --grape-500: hsl(89 46% 55%);
    --grape-600: hsl(91 48% 44%);
    --grape-700: hsl(91 50% 35%);
    --grape-800: hsl(92 47% 27%);
    --grape-900: hsl(93 41% 23%);

    /* 西瓜 alias: green */
    --watermelon-100: hsl(136 65% 97%);
    --watermelon-200: hsl(142 79% 93%);
    --watermelon-300: hsl(144 74% 85%);
    --watermelon-400: hsl(144 71% 73%);
    --watermelon-500: hsl(144 64% 58%);
    --watermelon-600: hsl(145 65% 45%);
    --watermelon-700: hsl(144 70% 36%);
    --watermelon-800: hsl(145 66% 29%);
    --watermelon-900: hsl(145 59% 24%);

    /* 青瓜 */
    --cucumber-100: hsl(140 43% 96%);
    --cucumber-200: hsl(137 41% 90%);
    --cucumber-300: hsl(142 38% 80%);
    --cucumber-400: hsl(146 36% 67%);
    --cucumber-500: hsl(147 32% 52%);
    --cucumber-600: hsl(150 42% 39%);
    --cucumber-700: hsl(150 47% 30%);
    --cucumber-800: hsl(153 47% 24%);
    --cucumber-900: hsl(152 45% 20%);

    /* 橙子 alias: yellow */
    --orange-100: hsl(40 100% 96%);
    --orange-200: hsl(40 100% 92%);
    --orange-300: hsl(38 100% 83%);
    --orange-400: hsl(36 100% 75%);
    --orange-500: hsl(32 99% 61%);
    --orange-600: hsl(30 97% 53%);
    --orange-700: hsl(26 93% 48%);
    --orange-800: hsl(23 91% 40%);
    --orange-900: hsl(20 81% 34%);

    /* 琥珀 */
    --amber-100: hsl(60 100% 96%);
    --amber-200: hsl(56 100% 89%);
    --amber-300: hsl(57 100% 76%);
    --amber-400: hsl(54 100% 64%);
    --amber-500: hsl(52 100% 55%);
    --amber-600: hsl(45 100% 51%);
    --amber-700: hsl(39 100% 44%);
    --amber-800: hsl(33 98% 37%);
    --amber-900: hsl(30 90% 31%);
  }
}
